<div class="links">
  <a [routerLink]="['/lifecycle-hooks']" routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact:true}">
    Lifecycle Hooks
  </a>

  <a [routerLink]="['/default-strategy']" routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact:true}">
    Default Strategy
  </a>

  <a [routerLink]="['/onPush-strategy']" routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact:true}">
    OnPush Strategy
  </a>
</div>

<router-outlet></router-outlet>
